

.green {
    color: green;
}

.gi-4x{
    font-size: 4em;
}

.carta-personalizada {
    border: solid;
    border-width: 2px;
    border-color: #337ab7;
   /* width:27.5em;*/
    padding:1em;
    display:"inline-block";
    margin: 0.5em;
}


.carta-personalizada-primera {
    border: solid;
    border-width: 0.25em;
    border-color: #337ab7;
    /*width:36em;*/
    padding:1em;
    display:"inline-block";
    margin: 0.5em;
}


.imagen-carta-personalizada {
    width: 25em;
}

#contenedor-anuncio {
    width: 30%;
}

#anuncio {
    width:300px;
    background-color:black;
    height:100%;
    position:absolute;
    right:0px;
}

.patito {
    position:absolute;
    left:0px;
    right:300px;
      padding: 50px;
}
